Repository woxox/music, pull requests merged in 2024-01, with the labels that each got.

#26 볼륨 조절 컴포넌트 반응성 개선
  apps/front/src/Layout/Music/MusicPlayer.tsx
  apps/front/src/components/atoms/SliderInput/index.tsx
  apps/front/src/context/PlayerContext.tsx
Labels: enhancement, front-end

#28 로그아웃 기능 추가
  apps/front/src/Layout/Music/index.tsx
  apps/front/src/api/auth.ts
  apps/front/src/store/authStore.ts
  apps/server/src/modules/auth/auth.controller.ts
Labels: enhancement, back-end, front-end

#19 WIP: #15
  .github/workflows/build-test.yaml
  .github/workflows/deploy.yaml
  .github/workflows/docker-build-reuseable.yaml
  .github/workflows/front-deploy.yaml
  .github/workflows/front-test.yaml
  .github/workflows/node-build-reuseable.yaml
  .github/workflows/server-deploy.yaml
  .github/workflows/server-test.yaml
  apps/front/src/Layout/DefaultLayout.tsx
  apps/front/src/Layout/Music/MusicPlayer.tsx
  apps/front/src/Layout/Music/index.tsx
  apps/front/src/api/auth.ts
  apps/front/src/api/playlist.ts
  apps/front/src/components/atoms/Image/index.tsx
  apps/front/src/components/atoms/LoadingSpinner/index.tsx
  apps/front/src/components/atoms/SliderInput/index.tsx
  apps/front/src/components/molecules/Modal/components/Body.tsx
  apps/front/src/components/molecules/Modal/components/CloseButton.tsx
  apps/front/src/components/molecules/Modal/components/Content.tsx
  apps/front/src/components/molecules/Modal/components/Footer.tsx
  apps/front/src/components/molecules/Modal/components/Header.tsx
  apps/front/src/components/molecules/Modal/index.tsx
  apps/front/src/components/organisms/ActionMenu/PlaylistActionMenu.tsx
  apps/front/src/components/organisms/TableLoadingSpinner/index.tsx
  apps/front/src/components/templates/LoginModal.tsx
  apps/front/src/components/templates/MusicListTable.tsx
  apps/front/src/components/templates/PlaylistCreateModal.tsx
  apps/front/src/components/templates/PlaylistEditModal.tsx
  apps/front/src/components/templates/UserPreferenceEditModal.tsx
  apps/front/src/context/PlayerContext.tsx
  apps/front/src/hooks/api/useDeletePlaylistMutation.ts
  apps/front/src/hooks/usePlaylistAction.tsx
  apps/front/src/icons/SpinnerIcon.tsx
  apps/front/src/pages/_app.tsx
  apps/front/src/pages/playlist/[id].tsx
  apps/front/src/store/authStore.ts
  apps/server/src/modules/auth/auth.controller.ts
Labels: enhancement, good first issue, front-end

#30 플레이리스트 수정시 정보 불일치 수정
  apps/front/src/hooks/api/useUpdatePlaylistMutation.ts
Labels: bug, front-end

#35 모바일 UI 구현
  apps/front/package.json
  apps/front/src/Layout/Music/index.tsx
  apps/front/src/components/molecules/Modal/components/Content.tsx
  apps/front/src/components/organisms/ActionMenu/UserActionMenu.tsx
  apps/front/src/components/organisms/AppSidebar/index.tsx
  apps/front/src/components/organisms/MusicPlayer/DesktopMusicPlayer.tsx
  apps/front/src/components/organisms/MusicPlayer/MobileMusicPlayer.tsx
  apps/front/src/components/templates/MusicListTable.tsx
  apps/front/src/components/templates/PlaylistCreateModal.tsx
  apps/front/src/components/templates/PlaylistEditModal.tsx
  apps/front/src/hooks/useIsMobile.ts
  apps/front/src/hooks/useUserAction.tsx
  apps/front/src/pages/playlist/[id].tsx
  pnpm-lock.yaml
Labels: enhancement, front-end
